---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.astro";
import Button from "../components/Button.astro";
---

<Layout title="Adventní cesta">
  <div class="mx-6 flex flex-col">
    <img
      src="icon.svg"
      alt="Fialový rozcestník, který je logo projektu Adventní cesta"
      title="Logo Advetní cesty"
      class="h-48"
      loading="lazy"
      decoding="async"
    />
    <h1 class="text-4xl font-bold text-center">Adventní cesta</h1>
  </div>

  <Calendar />

  <h2 class="mx-6 text-2xl uppercase font-bold">O projektu</h2>
  <p class="mx-6 text-lg mb-8">
    Adventní cesta je webová aplikace k&nbsp;tištěné verzi knihy Advent, která
    se každoročně vydává v&nbsp;Královéhradecké diecézi. Letos do knihy
    přispívali lékaři a lékařky naší diecéze. Každý den si můžeš přečíst
    evangelium, zamyšlení a&nbsp;krátkou modlitbu.
  </p>

  <div class="mx-6 flex flex-row justify-around mb-8 flex-wrap">
    <Button href={"/autori"} content="Autoři" />
    <Button href={"/slova-biskupa-Jana"} content="Slova biskupa Jana" />
    <Button href={"/slova-Prokopa-Broze"} content="Slova Prokopa Brože" />
  </div>

  <div class="mb-8">
    <h2 class="mx-6 text-2xl uppercase font-bold mb-2">Předchozí ročníky</h2>
    <ul class="mx-6 list-disc pl-6">
      <li>
        <a
          href={"https://2022.adventnicesta.cz/"}
          title="Předchozí adventní brožura"
          target={"_blank"}
          rel={"external"}
          class="underline"
        >
          2022
        </a>{" "}
        - autory zamyšlení jsou zaměstnanci charity
      </li>
    </ul>
  </div>
</Layout>
