---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adventní cesta">
  <img
    src="favicon.svg"
    alt="Fialový rozcestník, který je logo projektu Adventní cesta"
    title="Logo Advetní cesty"
    class="h-48"
  />
  <h1 class="text-4xl font-bold text-center">Adventní cesta</h1>
</Layout>
