---
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slova Prokopa Brože - Adventní cesta">
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Slova biskupa Prokopa Brože</h1>
    <p class="font-semibold text-lg mb-1">
      Vážení přátelé, bratři a&nbsp;sestry,
    </p>
    <p class="text-lg mb-4 text-justify">
      letošní adventní čas plyne ve znamení jubilejního roku. Je to tedy čas
      radosti, Boží přízně, v&nbsp;němž se nejen mohou splňovat přání
      a&nbsp;naplňovat životní tužby, ale může nám také zasvitnout naděje.
    </p>
    <p class="text-lg mb-4 text-justify">
      Mám vůbec nějaká přání? Děti jich mají zpravidla hned plnou dlaň. Vidí
      hračku a&nbsp;hned ji chtějí mít. Anebo narazím na internetu na krásný
      zámek a&nbsp;touha navštívit ho je probuzena. Objevili jsme krásný penzión
      v&nbsp;Tyrolích, tam se musíme s&nbsp;rodinou podívat. Přání a&nbsp;touhy
      jsou pro život duše velmi důležité, patří k&nbsp;jejímu vnitřnímu pohybu.
      Některé sny a&nbsp;přání se nikdy nesplní. Nevadí. I tak nebyly marné.
      Alespoň jsme své oči a&nbsp;obrazotvornost otevřeli, i&nbsp;když jsme
      v&nbsp;reálném světě stopy takových tužeb nakonec nenašli. Jsou ale sny
      a&nbsp;přání, jež se naplní. Potkám milovanou osobu, toužím s&nbsp;ní žít
      – a&nbsp;ona odpoví. Společně objevíme, že chceme být spolu, a&nbsp;reálný
      vztah, jenž se odehrává den po dni, nás vede do budoucna. Začínáme
      společně věřit v&nbsp;naplněný život – a&nbsp;zde začneme sdílet společnou
      naději. Zjištění, nejen že jdeme společně, ale že máme společnou
      budoucnost, nás naplňuje novou vírou, dodává naší vzájemné lásce nové
      světlo a&nbsp;zakládá nadějeplnou útěchu. Naděje může být ohrožena,
      protože ti, s&nbsp;nimiž naději sdílíme, jsou sami ohrozitelní. Ve svatém
      roce je to proto sám Bůh, který nabízí <em>„naději, která neklame“</em> (Řím 5,5).
      A&nbsp;tak jubileum rozeznívá svět lidských přání a&nbsp;tužeb, aby je
      přivedlo – leckdy spletitými cestami, které umí zkoumat Duch Boží –
      a&nbsp;ukotvilo vše v&nbsp;naději nesené a&nbsp;živené Boží láskou.
    </p>
    <p class="text-lg mb-4 text-justify">
     V&nbsp;letošní adventní brožuře jsme dali prostor lidem, kteří ve svém životě
      zaznamenali, pocítili a&nbsp;zažili děj, který zrod naděje provází,
      a&nbsp;chtěli se o&nbsp;radost z&nbsp;plodů jubilejního roku podělit.
      Děkuji tak všem autorkám a&nbsp;autorům textů, které naleznete pod
      evangelním úryvkem toho, kterého dne. Texty bylo třeba pročíst, připravit
      do tisku, vytisknout a&nbsp;přinést na dosah vašich rukou. O&nbsp;to se
      postarala malá, leč výkonná skupinka lidí, k&nbsp;níž se také řadí kněží, kteří
      se o&nbsp;faktickou distribuci brožur postarali. Všem patří upřímné díky
    </p>
    <p class="text-lg mb-4 text-justify">
      Panna Maria zažila doslova ve svém těle zrod naděje, s&nbsp;níž přišel
      Mesiáš – Kristus. Boží Syn plný Ducha tuto naději rozdává a&nbsp;Matka
      Boží tento zrod svou mateřskou láskou stále provází. Kéž nás všechny
      o&nbsp;letošních Vánocích zalije světlo nové naděje, jež září
      v&nbsp;Dítěti drženém Matkou Naděje!
    </p>
    <p class="text-lg mb-8 italic">Prokop Brož</p>
  </article>
</Layout>
