---
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slova Prokopa Brože - Adventní cesta">
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Slova Prokopa Brože</h1>
    <p class="font-semibold text-lg mb-1">Vážení přátelé, bratři a sestry,</p>
    <p class="text-lg mb-4">
      letošní adventní čas plyne ve znamení jubilejního roku. Je to tedy čas
      radosti, Boží přízně, v němž se nejen mohou splňovat přání a naplňovat
      životní tužby, ale může nám také zasvitnout naděje.
    </p>
    <p class="text-lg mb-4">
      Mám vůbec nějaká přání? Děti jich mají zpravidla hned plnou dlaň. Vidí
      hračku a hned ji chtějí mít. Anebo narazím na internetu na krásný zámek a
      touha navštívit ho je probuzena. Objevili jsme krásný penzión v Tyrolích,
      tam se musíme s rodinou podívat. Přání a touhy jsou pro život duše velmi
      důležité, patří k jejímu vnitřnímu pohybu. Některé sny a přání se nikdy
      nesplní. Nevadí. I tak nebyly marné. Alespoň jsme své oči a obrazotvornost
      otevřeli, i když jsme v reálném světě stopy takových tužeb nakonec
      nenašli. Jsou ale sny a přání, jež se naplní. Potkám milovanou osobu,
      toužím s ní žít – a ona odpoví. Společně objevíme, že chceme být spolu, a
      reálný vztah, jenž se odehrává den po dni, nás vede do budoucna. Začínáme
      společně věřit v naplněný život – a zde začneme sdílet společnou naději.
      Zjištění, nejen že jdeme společně, ale že máme společnou budoucnost, nás
      naplňuje novou vírou, dodává naší vzájemné lásce nové světlo a zakládá
      nadějeplnou útěchu. Naděje může být ohrožena, protože ti, s nimiž naději
      sdílíme, jsou sami ohrozitelní. Ve svatém roce je to proto sám Bůh, který
      nabízí „naději, která neklame“ (Řím 5,5). A tak jubileum rozeznívá svět
      lidských přání a tužeb, aby je přivedlo – leckdy spletitými cestami, které
      umí zkoumat Duch Boží – a ukotvilo vše v naději nesené a živené Boží
      láskou.
    </p>
    <p class="text-lg mb-4">
      V letošní adventní brožuře jsme dali prostor lidem, kteří ve svém životě
      zaznamenali, pocítili a zažili děj, který zrod naděje provází, a chtěli se
      o radost z plodů jubilejního roku podělit. Děkuji tak všem autorkám a
      autorům textů, které naleznete pod evangelním úryvkem toho, kterého dne.
      Texty bylo třeba pročíst, připravit do tisku, vytisknout a přinést na
      dosah vašich rukou. O to se postarala malá, leč výkonná skupinka lidí, k
      níž se také řadí kněží, kteří se o faktickou distribuci brožur postarali.
      Všem patří upřímné díky
    </p>
    <p class="text-lg mb-4">
      Panna Maria zažila doslova ve svém těle zrod naděje, s níž přišel Mesiáš –
      Kristus. Boží Syn plný Ducha tuto naději rozdává a Matka Boží tento zrod
      svou mateřskou láskou stále provází. Kéž nás všechny o letošních Vánocích
      zalije světlo nové naděje, jež září v Dítěti drženém Matkou Naděje!
    </p>
    <p class="text-lg mb-8 italic">Prokop Brož</p>
  </article>
</Layout>
