---
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slova biskupa Jana - Adventní cesta">
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Slova biskupa Jana</h1>
    <p class="font-semibold text-lg mb-1">
      Bratři a&nbsp;sestry v&nbsp;Kristu,
    </p>
    <p class="text-lg mb-4 text-justify">
      Svatý rok 2025 se blíží ke svému vrcholu. Když jej papež František loni
      o&nbsp;Vánocích zahájil, vyzval nás, abychom jím procházeli jako poutníci
      naděje. <em>„Jestliže Bůh přichází, i&nbsp;když se naše srdce podobá chudým
      jeslím, pak můžeme říci: Naděje není mrtvá, naděje je živá,“</em> řekl tehdy ve
      své homilii. Sám byl v&nbsp;průběhu jubilejního roku povolán k&nbsp;Tomu,
      v&nbsp;něhož vkládal veškerou svou naději, k&nbsp;jediné naději světa, do
      Boží náruče. Křesťanská naděje nám dává sílu radostně hledět vstříc
      budoucnosti. Svatý rok brzy uzavřeme v&nbsp;čele s&nbsp;novým papežem
      Lvem, v&nbsp;naději tedy také zakoušíme kontinuitu Církve, shromážděné již
      po více než dvě tisíciletí kolem Petrova nástupce. Papež František před
      rokem vyjádřil přání, aby se jubilejní rok stal pro každého z&nbsp;nás
      okamžikem opravdového, osobního setkání s&nbsp;Pánem Ježíšem, bránou naší
      spásy. V&nbsp;této brožuře si každý den přečteme, jak tato setkání prožívali
      autoři jednotlivých textů. Srdečně jim za jejich otevřená osobní svědectví
      děkuji. Věřím, že se jejich zamyšlení stanou pro každého z&nbsp;nás
      inspirací. Jubilejním rokem naše příležitost k&nbsp;intenzivnímu setkávání
      s&nbsp;Pánem zdaleka nekončí, naopak je pro nás výzvou k&nbsp;novému
      začátku, povzbuzením k&nbsp;tomu, abychom spolu s&nbsp;Kristem putovali
      každým okamžikem svého života bez ohledu na to, zda je svátek, nebo všední
      den. Advent je časem ztišení a&nbsp;duchovního bilancování, časem
      radostného očekávání, které nás nasměruje do příštího roku, začínajícího
      oslavou narození Krista a&nbsp;také k&nbsp;našemu definitivnímu setkání
      s&nbsp;Pánem. Kéž je Advent Jubilejního roku 2025 časem naděje, že se
      i&nbsp;v&nbsp;roce příštím ještě více přiblížíme k&nbsp;Tomu, který je
      jedinou nadějí světa, jedinou nadějí naší.
    </p>
    <p class="text-lg mb-4">K tomu Vám na začátku Adventu ze srdce žehnám!</p>
    <p class="text-lg mb-4">V Kristu a&nbsp;Marii</p>
    <p class="text-xl mb-8 italic">Váš biskup + Jan</p>
  </article>
</Layout>
