---
interface Props {
  title: string;
}

import BaseHead from "../components/BaseHead.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="cs">
  <BaseHead title={title} />
  <body>
    <slot />
  </body>
</html>
